
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.header-bg{
    background: linear-gradient(to left,#ff8a7a 0%,#ffc99e 100%);
    transition: .5s;
    position: fixed;
}

.logo{
    margin-left: 70px;
}
.nav-menu{
    display: flex;
    margin: 0 auto;
    margin-left: 100px;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #232f55;
    display: inline-block;
    margin: 20px;
    text-transform: capitalize;

}

.hamburger{
    display: none;
    margin-left: 13rem;
}
.number-btn{
    margin-right: 5rem;
    /* color: white; */
    /* border: 1px solid white; */
    border-radius: 0%;
    max-width: 300px;
    font-weight: 500;
    padding: .3rem 1.2rem;
    height: 3rem;
    text-align: center;
}

@media  screen and (max-width:1240px) {
    .hamburger{
        display: block;
    }
    

    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        margin-left: -100%;
        background: linear-gradient(to left,#ff8a7a 0%,#ffc99e 100%);
    }

    .nav-menu.active{
        left: 0;
        margin-left: 0;
    }
    
    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu a{
        font-size: 2rem;
    }
    @media screen and (max-width: 940px) {
        .number-btn{
            margin-right: 0;
        }
        .logo{
            margin-left: 0rem;
        }

        .hamburger{
            margin-left: 23rem;
        }
        
    }
    @media screen and (max-width: 640px) {
        .number-btn{
            margin-right: 0;
        }
        .logo{
            margin-left: 0rem;
        }

        .hamburger{
            margin-left: 3rem;
            margin-right: .5rem;
        }
        
    }
}