.design{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .design-img-holder{
    margin-left: 4%;
  }
  .design-text{
    width: 800px;
    background: transparent;
    margin-left: -5%;
    height: 400px;
    text-align: left;
  }

  .design-text-heading{
    font-size: 3rem;
    margin-top: 33%;
    color: #232f55;
    font-family: "Heebo", sans-serif;
    width: 300px;
  }

  .design-para{
    margin-top: 22rem;
    text-align: left;
    margin-left: -12rem;
  }

  .design-small-img-holder{
    margin-top: 22%;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .bar{
    background: #ff8a7a;
    width: 80%;
    height: 5px;
    margin-left: -20%;
    margin-top: 16%;
  }
 

  #learn-more-btn{
    background: linear-gradient(to bottom,#ff8a7a 0%,#ffc99e 100%);
    border-radius: 0;
    border: none;
    color: white;
    font-weight: 600;
    padding: 15px 25px;
    text-align: center;
  }

  #learn-more-btn:hover{
    background: linear-gradient(to right,#ff8a7a 0%,#ffc99e 100%);
    transition: .5s;
  }
