
  .our-work{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 6rem;
  }
  
  .arrow {
    position: absolute;
    border-radius: 3px;
    font-size: 3em;
    background: white;
    padding: 5px;
    top: 40%;
  }
  .arrow:hover {
    background: #869791;
    color: #fff;
   
  }
  
  .next {
    right: 10px;
  }
  
  .prev {
    left: 10px;
  }

  .our-work-text{
    color: #232f55;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-size: 3em;
    margin-bottom: 30px;
  }
.our-work-para{
  color: #232f55;
  text-align: center;
  font-family: "Heebo", sans-serif;
  margin-bottom: 40px;
}

.work-btn{
    width: 100%;
    height: 60px;
    border: 2px solid #ff8a7a;
    margin-top: .5rem;
    border-radius: 0;
    font-weight: 500;
  }

  .work-btn:hover{
    background: #ff8a7a;
    color: #fff;
  }

  /* (A) WRAPPER */
.hoverwrap {
    position: relative;
    max-width: 100%;   
  }
  
  /* (B) RESPONSIVE IMAGE */
  /* .hoverwrap img { 
    width: 100%;
   } */
  
  /* (C) CAPTION */
  .hovercap {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    position: absolute;
    bottom: 0; 
    /* left: -12px; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  /* (D) SHOW/HIDE */
  .hovercap {
    visibility: none; 
    opacity: 0;
    transition: 
    opacity 0.3s;
  }
  .hovercap>h1{
    font-size: 2em;
    text-align: left;
    margin-top: 70%;
  }
  .hovercap>p{
    color: #ff8a7a;
  }
  .hoverwrap:hover .hovercap {
    visibility: visible; 
    opacity: 1;
  }